<div class="jumbotron">
    <h2><i class="fa fa-2x fa-hand-rock-o"></i> x <i class="fa fa-2x fa-hand-paper-o"></i> x <i class="fa fa-2x fa-hand-scissors-o"></i></h2>
    <h3>the game</h3>

    <hr />

    <p><a class="btn btn-lg btn-success" ng-click="homeC.startNewGame()">start new game</a></p>
    <p ng-if="homeC.gameStatus.gameNumber > 0"><a class="btn btn-lg btn-primary" ng-click="homeC.continueGame()">continue game</a></p>

    <hr />

    <h4>high score <span class="label label-info">{{ mainC.highScore }}</span></h4>
</div>
