<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <h4><span class="label label-success">{{ gameC.gameStatus.win }}</span> Player</h4>
        </div>
        <div class="col-sm-4 col-xs-6 col-sm-offset-4">
            <h4>Computer <span class="label label-primary">{{ gameC.gameStatus.lose }}</span></h4>
        </div>
    </div>

    <hr />

    <p>choose your shape</p>
    <div class="row">
        <div class="col-xs-4 shape"
             ng-click="gameC.computerIsThinking || gameC.chooseShape('r')"
             ng-class="{'selected-shape': gameC.playerShape == 'r'}">
            <i class="fa fa-3x fa-hand-rock-o"></i>
            <h4>rock</h4>
        </div>
        <div class="col-xs-4 shape"
             ng-click="gameC.computerIsThinking || gameC.chooseShape('p')"
             ng-class="{'selected-shape': gameC.playerShape == 'p'}">
            <i class="fa fa-3x fa-hand-paper-o"></i>
            <h4>paper</h4>
        </div>
        <div class="col-xs-4 shape"
             ng-click="gameC.computerIsThinking || gameC.chooseShape('s')"
             ng-class="{'selected-shape': gameC.playerShape == 's'}">
            <i class="fa fa-3x fa-hand-scissors-o"></i>
            <h4>scissors</h4>
        </div>
    </div>

    <div ng-if="gameC.computerIsThinking">
        <hr />
        <p>computer is thinking</p>
        <i class="fa fa-3x fa-cog fa-spin"></i> <i class="fa  fa-3x fa-cog fa-spin"></i> <i class="fa fa-3x fa-cog fa-spin"></i>
    </div>

    <div ng-if="gameC.gameResult != null && !gameC.computerIsThinking">
        <hr />

        <p>computer has chosen</p>
        <div ng-if="gameC.computerShape == 'r'">
            <i class="fa fa-3x fa-hand-rock-o"></i>
            <h4>rock</h4>
        </div>
        <div ng-if="gameC.computerShape == 'p'">
            <i class="fa fa-3x fa-hand-paper-o"></i>
            <h4>paper</h4>
        </div>
        <div ng-if="gameC.computerShape == 's'">
            <i class="fa fa-3x fa-hand-scissors-o"></i>
            <h4>scissors</h4>
        </div>

        <hr />

        <h1 ng-if="gameC.gameResult == 1" style="color: green">YOU WIN</h1>
        <h1 ng-if="gameC.gameResult == -1" style="color: red">YOU LOSE</h1>
        <h1 ng-if="gameC.gameResult == 0"  style="color: orange">DRAW</h1>
    </div>

    <hr />

    <h4>game <span class="label label-info">{{ gameC.gameStatus.gameNumber }}</span></h4>
</div>
